<! client >
<html>
<head>
	<meta chartset="utf-8">
	<title>LED CUBE MHX2019</title>
	<script src="jquery.js"></script>
	<script src="https://ledcube2019.herokuapp.com/socket.io/socket.io.js"></script>
	<script src="xuly.js"></script>
	<link rel = "stylesheet" type="text/css" href="layout.css"/>
<body>
	<div id="wraper">
		<div id="left">
			<div id="boxTitle">MODE</div>
			<div id="boxMode"></div>		
		</div>
		<div id="right">
			<div id="sayHi">MÙA HÈ XANH 2019 - VI ĐIỀU KHIỂN</div>
			<div id="BUTTON">
				<input type="button" id="btnModeRain" value="Mode_Rain"/>
				<input type="button" id="btnModeLove" value="Mode_Love"/>
				<input type="button" id="btnModePlan" value="Mode_Plan"/>
				<input type="button" id="btnModeDomino" value="Mode_Domino"/>
				<input type="button" id="btnLamp" value="Mode_MHX"/>
				<input type="button" id="btnOff" value="Mode_Off"/>
			</div>

		</div>

	</div?
</body>
</html>